{{ partial "header.html" . }}


<main class="content" role="main">
  
<h1 class="titulo">Beatriz Milz</h1>


<!---------->

<div class="archive">
    <h2 class="archive-title">Repositórios</h2>

    <article class="archive-item">
      
      <i class="fab fa-github"></i> <a href="https://github.com/rladies/meetup-presentations_sao-paulo" class="archive-item-link" target="_blank"> Arquivos do R-Ladies São Paulo</a>
      
<br>
<i class="fab fa-github"></i> <a href="https://github.com/beatrizmilz/materiais_estudo_R"  class="archive-item-link" target="_blank"> Materiais para estudo de R</a>


    </article>
  </div>



  <div class="archive">
    <h2 class="archive-title">Posts em outros blogs</h2>

    <article class="archive-item">
<a href="https://www.curso-r.com/blog/2019-08-12-tidydevday/" class="archive-item-link" target="_blank">Tidyverse developer day 2019 (tidy-dev-day)</a> 

      <span class="archive-item-date">
       16-08-2019
      </span>
    </article>
  </div>
  


  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h2 class="article-title">{{ .Title }}</h2>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  <div class="archive">
    {{ range (where .Data.Pages "Section" "!=" "").GroupByDate "2006" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "02-01-2006" }}
      </span>
    </article>
    {{ end }}
    {{ end }}
  </div>
  
          <h6><center>“As opiniões, hipóteses e conclusões ou recomendações expressas neste material são de responsabilidade do(s) autor(es) e não necessariamente refletem a visão da FAPESP”</center></h6>

</main>

{{ partial "footer.html" . }}
